Brotli
certifi
cffi
charset-normalizer
contourpy==1.3.0
cycler==0.12.1
filelock
fonttools==4.60.2
gmpy2
h2
hpack
hyperframe
idna
importlib_resources==6.5.2
Jinja2
kiwisolver==1.4.7
MarkupSafe
matplotlib==3.9.4
mpmath
networkx
numpy
orjson==3.11.5
packaging==26.0
pandas==2.3.3
pillow
pyCICY==0.5.2
pycparser
pyparsing==3.3.2
PySocks
python-dateutil==2.9.0.post0
pytz==2026.2
PyYAML
requests
scipy==1.13.1
seaborn==0.13.2
six==1.17.0
sympy
texttable==1.7.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.67.3
typing_extensions
tzdata==2026.2
urllib3
zipp==3.23.0
zstandard==0.23.0
